.container-add{
    padding-top: 150px;
    padding-bottom: 50px;
}

.col-one-add{
    margin-left: 70px;
}

.title-add{
    font-size: 54px;
    margin-right: 70px;
}

.description-add{
    font-size: 18px;
    color: #807D7D;
    margin-right: 70px;
}



@media screen and (max-width:1100px){
    .row-active-users{
        margin-bottom: 150px;
    }    

    .phone-image-add{
        height: auto;
        width: 100%;
    }
    
}

.number{
    font-size: 40px;
    color: #DC1E23;
    font-weight: bold;
}

.text{
    font-size: 18px;
    color: #807D7D;
}

.logo-google{
    width: 300px;
}

.col-two{
    margin-top: 390px;
    background-image: url("../images/rectangle.png");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position-x: right;
}

.phone-image-add {
    height: 700px; 
    margin-top: -180px;
}

.fish1{
    width: 300px;
    height: 300px;
    margin-top: -760px;
    margin-left: -60px;
} 

@media screen and (max-width:1100px){
    .fish1{
        height: 200px;
        width: 200px;
        margin-left: 5px;
    }
}

 .col-check{
    background-image: url(../images/rectangle2.png);
    background-size: cover;
    color: white;
    padding: 60px;   
}

.title-tracking{
    font-size: 35px;
}

.descrption-tracking {
    font-size: 20px;
}


.title-check{
    font-size: 35px;
    margin-bottom: 37px;

}

.form-rates{
    margin-bottom: 37px;
}

@media screen and (max-width:800px){

    .col-check{
        padding: 20px;
    }

    .title-tracking{
        font-size: 25px;
    }
    
    .descrption-tracking {
        font-size: 15px;
    }
    
    
    .title-check{
        font-size: 30px;    
    }
}