.container-add{
    padding-top: 150px;
    padding-bottom: 50px;
}

.col-one-add{
    margin-left: 70px;
}

.title-add{
    font-size: 54px;
    margin-right: 70px;
}

.description-add{
    font-size: 18px;
    color: #807D7D;
    margin-right: 70px;
}

.number{
    font-size: 40px;
    color: #DC1E23;
    font-weight: bold;
}

.text{
    font-size: 18px;
    color: #807D7D;
}

.logo-google{
    width: 300px;
}

.col-two{
    margin-top: 390px;

    background-image: url("../images/rectangle.png");
    background-repeat: no-repeat;
    background-size:  90% auto;
    background-position-x: right;
}

.phone-image-add {
    height: 700px; 
    margin-top: -180px;
}

.fish1{
    width: 300px;
    height: 300px;
    margin-top: -760px;
    margin-left: -60px;
} 


 .col-check{
    background-image: url(../images/rectangle2.png);
    background-size: cover;
    color: white;
    padding: 60px;   
}

.title-tracking{
    font-size: 35px;
}

.descrption-tracking {
    font-size: 20px;
}


.title-check{
    font-size: 35px;
    margin-bottom: 22px;

}

.form-rates{
    margin-bottom: 22px;
}