.container-superiority{
    padding-top: 80px;
}

.tittle-superiority {
    font-size: 48px;
    text-align: center;
}

.description-superiority{
    font-size: 18px;
    text-align: center;
    
}

.container-card{
    padding: 80px;
    margin-bottom: 150px;
}

.card{
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media screen and (max-width:1100px){
    .container-card{
        margin-bottom: 10px;
    }
    
    .card{
        margin-bottom: 30px;
    }
}

.description-card{
    color: hsl(0, 1%, 50%);
}

.row-fitur{
margin-bottom: 180px;
}

.col-fitur1{
    margin-left: 70px;
}

.title-fitur{
    font-size: 48px;
    margin-top: 60px;
    margin-right: 130px;
}

.description-fitur{
    font-size: 18px;
    color: #807D7D;
    margin-right: 150px;
    margin-bottom: 70px;
}


.col-fitur2{
    background-image: url("../images/rectangle.png");
    background-repeat: no-repeat;
    background-size:  90%;
    background-position-x: right;
}

.phone-image {
    height: 600px;
    margin-top: -120px;
}

.fish2{
    width: 250px;
    height: 250px;
    margin-top: -120%;
    margin-left: -80px;
}


.col-fitur3{
    background-image: url("../images/rectangle3.png");
    background-repeat: no-repeat;
    background-size:  90% auto;
    background-position-x: left;
}

.row-fitur2{
    margin-top: 180px;
    margin-bottom: 80px;
}

.title-fitur2{
    font-size: 48px;
    margin-top: 25px;
    margin-right: 60px;

}

.description-fitur2{
    font-size: 18px;
    color: hsl(0, 1%, 50%);
    margin-right: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.col-fitur4{
    margin-left: 75px;
}

.phone-image3{
    height: 600px;
    margin-top: -120px;
}

.fish3{
    width: 250px;
    height: 250px;
    margin-left: 75%;
    margin-top: -700px;
}

.phone-image4 {
    height: 600px;
    margin-top: -120px;
}

.fish4{
    width: 250px;
    height: 250px;
    margin-top: -670px;
    margin-left: -120px;
}


@media screen and (max-width:1100px){

    .phone-image {
        height: auto;
        width:  100%;
    }

    .fish2{
        height: 150px;
        width: 150px;
        margin-left: 1%;
        margin-top: -100%;
    }

    .description-fitur{
        margin-bottom: 150px;
    }
    .phone-image3{
        height: auto;
        width:  100%;
    }

    .fish3{
        height: 150px;
        width: 150px;
        margin-left: 65%;
        margin-top: -100%;
    }

    .phone-image4{
        height: auto;
        width:  100%;
    }

    .fish4{
        height: 150px;
        width: 150px;
        margin-left: 1%;
        margin-top: -100%;
    }
}