.title-testimoni {
    font-size: 48px;
    text-align: center;
}

.description-testimoni {
    font-size: 18px;
    color: #807D7D;
    text-align: center;
    margin-top: 30px;
}

.card-testimoni{
    height: 250px;
    width: 250px;
    float: right;
    margin-top: 50px;
    margin-bottom: 170px;
}

.row-download {
    background-image: url(../images/rectangle2.png);
    background-size: cover;
    padding: 60px;
}

.google-app{
    width: 300px;
}

.title-download{
font-size: 48px;
color: white;
}

.description-download{
    font-size: 18px;
    color: white;
}

.img-courier{
    position: absolute;
    height: 450px;
    margin-top: -182px;
}