.title-testimoni {
    font-size: 48px;
    text-align: center;
}

.description-testimoni {
    font-size: 18px;
    color: #807D7D;
    text-align: center;
    margin-top: 30px;
}

.card-testimoni{
    height: 250px;
    width: 250px;
    float: right;
    margin-top: 50px;
    margin-bottom: 200px;
}

@media screen and (max-width:900px){
    .card-testimoni{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 180px;
        width: 180px;
        margin-bottom: 100px;
    }    
}

.row-download {
    background-image: url(../images/rectangle2.png);
    background-size: cover;
    padding: 60px;
}

.google-app{
    width: 300px;
}

@media screen and (max-width:900px){
    .google-app{
        margin-bottom: 200px;
    }    
}

.title-download{
font-size: 48px;
color: white;
}

.description-download{
    font-size: 18px;
    color: white;
}

.img-courier{
    height: 450px;
    margin-top: -182px;
    margin-bottom: -57px;
}